@{
    decimal total = 0;
}

<h2>Tu carrito</h2>

@if (ViewBag.Carritoo.Count == 0)
{
    <p>No hay productos en el carrito.</p>
}
else
{
    foreach (var item in ViewBag.Carritoo)
    {
        var subtotal = item.Cantidad * item.Precio;
        total += subtotal;

        <div class="mb-3 p-2 border rounded">

            <p>
                <strong>@item.Producto.Nombre</strong><br />
                Precio unitario: $@item.Precio<br />
                Cantidad: @item.Cantidad<br />
                <strong>Subtotal: $@subtotal</strong>
            </p>

            <img src="@item.Producto.Imagen"
                 alt="Imagen del producto"
                 style="width:60px; height:60px; object-fit:cover; border-radius:6px;" />


            <form asp-action="EliminarItem" method="post" style="display:inline;">
                <input type="hidden" name="itemId" value="@item.Id" />
                <button type="submit" class="btn btn-danger btn-sm">
                    Eliminar un ítem
                </button>
            </form>
        </div>
    }

    <hr />
    <h3>Total a pagar: $@total</h3>

    <form asp-action="Comprar" method="post">
        <button type="submit" class="btn btn-success">Confirmar compra</button>
    </form>
}

<div class="text-danger">@TempData["Error"]</div>